.form-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-actions {
  text-align: right;
}

.form-controls {
  background-color: #8eddf7;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.form-controls button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #bae8f7;
  background-color: #69c8ee;
  color: black;
  margin-top: 1rem;
  border-radius: 12px;
  margin-right: 1rem;
}

.form-controls button:hover,
.form-controls button:active {
  background-color: #8eddf7;
  border-color: #bae8f7;
}

.form-controls button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.form-controls button.alternative:hover,
.form-controls button.alternative:active {
  background-color: #8eddf7;
}
