.index-card {
  padding: 1rem;
  background-color: #88787827;
  margin: 1rem auto;
  width: 55rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.index-repo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #887878a8;
}

.index-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.index-progress {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #887878d4;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.index-url {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.form-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.form-control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.form-actions {
  text-align: right;
}

.form-cont {
  background-color: #88787827;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.form-cont button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
}

.form-cont button:hover,
.form-cont button:active {
  background-color: #510674;
  border-color: #510674;
}

.form-cont button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.form-cont button.alternative:hover,
.form-cont button.alternative:active {
  background-color: #88787827;
}
