// variables //
$maincolor: #69c8ee;
$secondcolor: #000000;

@mixin w-color-b-bg {
  color: $secondcolor;
  background-color: $maincolor;
}

@mixin b-color-w-bg {
  color: $maincolor;
  background-color: $secondcolor;
}

// header //
nav {
  @include w-color-b-bg;
  display: flex;
  justify-content: space-between;
  margin: 0;

  a {
    @include w-color-b-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}
